# Data Types for Data Science
https://www.datacamp.com/courses/data-types-for-data-science

### Loading the files

In [0]:
# links
URL1 = 'https://assets.datacamp.com/production/course_3423/datasets/baby_names.csv'

In [51]:
from urllib.request import urlretrieve

urlretrieve(URL1, 'baby_names.csv')

('crime_sampler.csv', <http.client.HTTPMessage at 0x7fd4d658ee10>)

## 1. Fundamental data types

### Manipulating lists

In [4]:
# Create a list containing the names: baby_names
baby_names = ['Ximena', 'Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names.extend(['Rowen','Sandeep'])

# Print baby_names
print(baby_names)

# Find the position of 'Aliza': position
position = baby_names.index('Aliza')

# Remove 'Aliza' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']

### Looping over lists

In [0]:
records = [['2011', 'FEMALE', 'HISPANIC', 'HAYLEE', '17', '71'],
 ['2011', 'FEMALE', 'HISPANIC', 'HAYLEY', '13', '75'],
 ['2011', 'FEMALE', 'HISPANIC', 'HAZEL', '10', '78'],
 ['2011', 'FEMALE', 'HISPANIC', 'HEAVEN', '15', '73'],
 ['2011', 'FEMALE', 'HISPANIC', 'XIMENA', '18', '70'],
 ['2011', 'FEMALE', 'HISPANIC', 'YAMILET', '11', '77'],
 ['2011', 'FEMALE', 'HISPANIC', 'YARETZI', '22', '66'],
 ['2011', 'FEMALE', 'HISPANIC', 'ZOE', '65', '28'],
 ['2011', 'FEMALE', 'HISPANIC', 'ZOEY', '27', '61']]

#### Non-Pythonic

In [6]:
# Create the empty list: baby_names
baby_names = []

# Loop over records 
for row in records:
    # Add the name to the list
    baby_names.append(row[3])
    
# Sort the names
for name in sorted(baby_names, reverse=True):
    # Print each name
    print(name)

ZOEY
ZOE
YARETZI
YAMILET
XIMENA
HEAVEN
HAZEL
HAYLEY
HAYLEE

#### More pythonic

In [7]:
# List comprehension
baby_names = [row[3] for row in records]

# Sort the names
for name in sorted(baby_names, reverse=True):
    # Print each name
    print(name)

ZOEY
ZOE
YARETZI
YAMILET
XIMENA
HEAVEN
HAZEL
HAYLEY
HAYLEE

### Using and unpacking tuples

In [0]:
girl_names = ['Mia', 'TIFFANY', 'CHLOE', 'SOFIA', 'OLIVIA', 'MADISON', 'Kayla', 'HAILEY', 'FIONA', 'EMILY', 'Victoria', 'Madison', 'Alina', 'EMMA', 'GABRIELLE', 'Chloe', 'Isabella', 'AVA', 'ESTHER', 'Ava', 'CHAYA', 'CHANA', 'Camila', 'ANGELA', 'Esther', 'Miriam', 'TAYLOR', 'Aaliyah', 'Mariam', 'KAYLA', 'ISABELLA', 'CAMILA', 'Sofia', 'Taylor', 'Angela', 'GRACE', 'Zoe', 'Emily', 'NEVAEH', 'Fatoumata', 'ELLA', 'AALIYAH', 'JADA', 'Anna', 'Claire', 'Leah', 'SOPHIA', 'GENESIS', 'RACHEL', 'Serenity', 'Grace', 'ASHLEY', 'Emma', 'Sophia', 'MIA', 'ABIGAIL', 'Sarah', 'Ashley', 'Valentina', 'SERENITY', 'LONDON', 'Chaya', 'Chana', 'Rachel', 'LEAH', 'London', 'Skylar', 'SARAH', 'Olivia', 'MAKAYLA', 'Savannah', 'MIRIAM', 'Brielle','Samantha']
boy_names = ['MUHAMMAD', 'Liam', 'JACK', 'SAMUEL', 'Elijah', 'Noah', 'Dylan', 'Moshe', 'Jeremiah', 'Mason', 'Ryan', 'Joshua', 'ANTHONY', 'ETHAN', 'JAYDEN', 'JOSHUA', 'RYAN', 'CHRISTOPHER', 'ALEXANDER', 'Carter', 'DAVID', 'Sebastian', 'JAMES', 'MICHAEL', 'JACOB', 'KEVIN', 'William', 'Muhammad', 'Jack', 'Amir', 'Samuel', 'BENJAMIN', 'Michael', 'Alexander', 'TYLER', 'James', 'CHRISTIAN', 'Matthew', 'Aiden', 'Eric', 'Angel', 'JEREMIAH', 'ANGEL', 'NOAH', 'JUSTIN', 'ISAIAH', 'Jayden', 'David', 'ELIJAH', 'MOSHE', 'SEBASTIAN', 'Jacob', 'Josiah', 'MATTHEW', 'Benjamin', 'Jason', 'JASON', 'Lucas', 'LUCAS', 'DANIEL', 'MASON', 'JOSIAH', 'Joseph', 'JOSEPH', 'Ethan', 'AIDEN', 'ERIC', 'Daniel']

#### Less pythonic

In [9]:
# Pair up the boy and girl names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

Rank 0: Mia and MUHAMMAD
Rank 1: TIFFANY and Liam
Rank 2: CHLOE and JACK
Rank 3: SOFIA and SAMUEL
Rank 4: OLIVIA and Elijah
Rank 5: MADISON and Noah
Rank 6: Kayla and Dylan
Rank 7: HAILEY and Moshe
Rank 8: FIONA and Jeremiah
Rank 9: EMILY and Mason
Rank 10: Victoria and Ryan
Rank 11: Madison and Joshua
Rank 12: Alina and ANTHONY
Rank 13: EMMA and ETHAN
Rank 14: GABRIELLE and JAYDEN
Rank 15: Chloe and JOSHUA
Rank 16: Isabella and RYAN
Rank 17: AVA and CHRISTOPHER
Rank 18: ESTHER and ALEXANDER
Rank 19: Ava and Carter
Rank 20: CHAYA and DAVID
Rank 21: CHANA and Sebastian
Rank 22: Camila and JAMES
Rank 23: ANGELA and MICHAEL
Rank 24: Esther and JACOB
Rank 25: Miriam and KEVIN
Rank 26: TAYLOR and William
Rank 27: Aaliyah and Muhammad
Rank 28: Mariam and Jack
Rank 29: KAYLA and Amir
Rank 30: ISABELLA and Samuel
Rank 31: CAMILA and BENJAMIN
Rank 32: Sofia and Michael
Rank 33: Taylor and Alexander
Rank 34: Angela and TYLER
Rank 35: GRACE and James
Rank 36: Zoe and CHRISTIAN
Rank 37: Emily and Matthew
Rank 38: NEVAEH and Aiden
Rank 39: Fatoumata and Eric
Rank 40: ELLA and Angel
Rank 41: AALIYAH and JEREMIAH
Rank 42: JADA and ANGEL
Rank 43: Anna and NOAH
Rank 44: Claire and JUSTIN
Rank 45: Leah and ISAIAH
Rank 46: SOPHIA and Jayden
Rank 47: GENESIS and David
Rank 48: RACHEL and ELIJAH
Rank 49: Serenity and MOSHE
Rank 50: Grace and SEBASTIAN
Rank 51: ASHLEY and Jacob
Rank 52: Emma and Josiah
Rank 53: Sophia and MATTHEW
Rank 54: MIA and Benjamin
Rank 55: ABIGAIL and Jason
Rank 56: Sarah and JASON
Rank 57: Ashley and Lucas
Rank 58: Valentina and LUCAS
Rank 59: SERENITY and DANIEL
Rank 60: LONDON and MASON
Rank 61: Chaya and JOSIAH
Rank 62: Chana and Joseph
Rank 63: Rachel and JOSEPH
Rank 64: LEAH and Ethan
Rank 65: London and AIDEN
Rank 66: Skylar and ERIC
Rank 67: SARAH and Daniel

### Making tuples by accident

In [10]:
# Create the normal variable: normal
normal = 'simple'

# Create the mistaken variable: error
error = 'trailing comma',

# Print the types of the variables
print(type(normal))
print(type(error))

<class 'str'>
<class 'tuple'>

### Finding all the data and the overlapping data between sets

In [0]:
import pandas as pd

baby_names = pd.read_csv('baby_names.csv')

In [0]:
_2011 = baby_names['BRITH_YEAR'] == 2011
_2014 = baby_names['BRITH_YEAR'] == 2014

baby_names_2011 = set([name.title() for name in baby_names[_2011]['NAME']])
baby_names_2014 = set([name for name in baby_names[_2014]['NAME']])

In [13]:
# Find the union: all_names
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)

# Print the count of names in overlapping_names
print(len(overlapping_names))

1461
986

### Determining set differences

In [14]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()

# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
    if row[0] == '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

{'YARETZI', 'XIMENA', 'ZOE', 'HAYLEE', 'HEAVEN', 'YAMILET', 'ZOEY', 'HAYLEY', 'HAZEL'}

## 2. Dictionaries - the root of Python

### Creating and looping through dictionaries (non pythonic)

In [0]:
female_2012 = baby_names[(baby_names['BRITH_YEAR'] == 2012) & (baby_names['GENDER'] == 'FEMALE')]

girl_name = [name for name in female_2012['NAME']]

name_rank = [rank for rank in female_2012['RANK']]

pairs = zip(girl_name, name_rank)

female_baby_names_2012 = set([pair for idx, pair in enumerate(pairs)])

In [16]:
# Create an empty dictionary: names
names = {}

# Loop over the girl names
for name, rank in female_baby_names_2012:
    # Add each name to the names dictionary using rank as the key
    names[rank] = name
    
# Sort the names list by rank in descending order and slice the first 10 items
for rank in sorted(names, reverse=True)[:10]:
    # Print each item
    print(names[rank])

BIANCA
DALIA
POLINA
TZIPORA
ADA
IRIS
JANA
KATHRYN
JULIANNA
ETTY

### Safely finding by key (non-pythonic)

In [17]:
# Safely print rank 7 from the names dictionary
print(names.get(7))

# Safely print the type of rank 100 from the names dictionary
print(type(names.get(100)))

# Safely print rank 105 from the names dictionary or 'Not Found'
print(names.get(105, 'Not Found'))

CHAYA
<class 'NoneType'>
Not Found

### Dealing with nested data

In [0]:
boy_names = {2012: {}, 2013: {1: 'David',  2: 'Joseph',  3: 'Michael',  4: 'Moshe',  5: 'Daniel',  6: 'Benjamin',  7: 'James',  8: 'Jacob',  9: 'Jack',  10: 'Alexander',  11: 'William',  12: 'John',  13: 'Henry',  14: 'Noah',  15: 'Samuel',  16: 'Nicholas',  17: 'Matthew',  18: 'Adam',  19: 'Chaim',  20: 'Abraham',  21: 'Liam',  22: 'Ryan',  23: 'Lucas',  24: 'Anthony',  25: 'Isaac',  26: 'Oliver',  27: 'Andrew',  28: 'Gabriel',  29: 'Yosef',  30: 'Leo',  31: 'Thomas',  32: 'Luke',  33: 'Jackson',  34: 'Shimon',  35: 'Theodore',  36: 'Joshua',  37: 'Christopher',  38: 'Sebastian',  39: 'Mason',  40: 'Eli',  41: 'Nathan',  42: 'Aaron',  43: 'Zachary',  44: 'Aron',  45: 'Luca',  46: 'Yehuda',  47: 'Yitzchok',  48: 'Owen',  49: 'Menachem',  50: 'Logan',  51: 'Aiden',  52: 'Yisroel',  53: 'Peter',  54: 'Yaakov',  55: 'Yakov',  56: 'Omar',  57: 'Levi',  58: 'Simon',  59: 'Shmuel',  60: 'Patrick',  61: 'Connor',  62: 'Jonah',  63: 'Zev',  64: 'Tzvi',  65: 'Nathaniel',  66: 'Harrison',  67: 'Tyler',  68: 'Mark',  69: 'Hunter',  70: 'Mohamed',  71: 'Lipa',  72: 'Mendel',  73: 'Sean',  74: 'Sam',  75: 'Solomon',  76: 'Martin',  77: 'Edward',  78: 'Wyatt',  79: 'Parker',  80: 'Steven', 81: 'Yechiel',  82: 'Nicolas',  83: 'Timothy',  84: 'Spencer',  85: 'Usher',  86: 'Rafael',  87: 'Yusuf',  88: 'Yehoshua',  89: 'Shaya',  90: 'Rayan',  91: 'Tristan',  92: 'Yossi',  93: 'Wesley',  94: 'Yoel',  95: 'Sawyer',  96: 'Yousef',  97: 'Walter',  98: 'Zalmen',  99: 'Yeshaya',  100: 'Yitzchak'}, 2014: {1: 'Joseph',  2: 'David',  3: 'Michael',  4: 'Moshe',  5: 'Jacob',  6: 'Benjamin',  7: 'Alexander',  8: 'Daniel',  9: 'Samuel',  10: 'Jack',  11: 'James',  12: 'Adam',  13: 'William',  14: 'Henry',  15: 'Abraham',  16: 'Nicholas',  17: 'John',  18: 'Ethan',  19: 'Liam',  20: 'Ryan',  21: 'Noah',  22: 'Matthew',  23: 'Chaim',  24: 'Theodore',  25: 'Isaac',  26: 'Lucas',  27: 'Thomas',  28: 'Yosef',  29: 'Anthony',  30: 'Oliver',  31: 'Max',  32: 'Gabriel',  33: 'Eli',  34: 'Shimon',  35: 'Luke',  36: 'Mason',  37: 'Mordechai',  38: 'Andrew',  39: 'Zachary',  40: 'Owen',  41: 'Yehuda',  42: 'Jackson',  43: 'Yisroel',  44: 'Nathan',  45: 'Aiden',  46: 'Christopher',  47: 'Jonathan',  48: 'Asher',  49: 'Logan',  50: 'Robert',  51: 'Yitzchok',  52: 'George',  53: 'Christian',  54: 'Aron',  55: 'Mark',  56: 'Levi',  57: 'Shmuel',  58: 'Miles',  59: 'Shlomo',  60: 'Peter',  61: 'Sean',  62: 'Eliezer',  63: 'Solomon',  64: 'Gavin',  65: 'Zev',  66: 'Nathaniel',  67: 'Yaakov',  68: 'Yakov',  69: 'Hunter',  70: 'Vincent',  71: 'Ari',  72: 'Edward',  73: 'Yechiel',  74: 'Oscar',  75: 'Shia',  76: 'Leonardo',  77: 'Victor',  78: 'Tyler',  79: 'Wyatt',  80: 'Sam',  81: 'Shaya',  82: 'Ian',  83: 'Raphael',  84: 'Philip',  85: 'Timothy',  86: 'Yehoshua',  87: 'Xavier',  88: 'Youssef',  89: 'Simcha',  90: 'Naftali',  91: 'Ronan',  92: 'Usher',  93: 'Shmiel',  94: 'Yousef',  95: 'Naftuli',  96: 'Yusuf',  97: 'Yossi',  98: 'Yisrael', 99: 'Shea',  100: 'Yoel',  101: 'Yahya',  102: 'Yidel'}}

In [19]:
# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names[2013].keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

dict_keys([2012, 2013, 2014])
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100])
2012 Unknown
2013 Michael
2014 Michael

### Adding and extending dictionaries

In [0]:
names_2011 = {1: 'Michael', 2: 'Joseph', 3: 'Jacob', 4: 'David', 5: 'Benjamin', 6: 'Moshe', 7: 'Daniel', 8: 'Alexander', 9: 'Matthew', 10: 'Jack', 11: 'Samuel', 12: 'James', 13: 'William', 14: 'John', 15: 'Nicholas', 16: 'Henry', 17: 'Chaim',18: 'Anthony', 19: 'Andrew', 20: 'Liam', 21: 'Charles', 22: 'Lucas', 23: 'Dylan', 24: 'Ryan', 25: 'Thomas', 26: 'Ethan', 27: 'Menachem', 28: 'Yosef', 29: 'Luke', 30: 'Oliver', 31: 'Noah', 32: 'Eli', 33: 'Gabriel', 34: 'Max', 35: 'Shimon', 36: 'Isaac', 37: 'Joshua', 38: 'Zachary', 39: 'Leo', 40: 'Julian', 41: 'Aiden', 42: 'Jake', 43: 'Mordechai',44: 'Yisroel', 45: 'Yehuda', 46: 'Sebastian', 47: 'Mark', 48: 'Robert', 49: 'Logan', 50: 'George', 51: 'Owen', 52: 'Vincent', 53: 'Tyler', 54: 'Yakov', 55: 'Aidan', 56: 'Yitzchok', 57: 'Asher', 58: 'Theodore', 59: 'Peter', 60: 'Solomon', 61: 'Zev', 62: 'Nathaniel', 63: 'Yaakov', 64: 'Shmuel', 65: 'Shulem', 66: 'Tzvi', 67: 'Levi',68: 'Jayden', 69: 'Mohamed', 70: 'Cole', 71: 'Sean', 72: 'Sam', 73: 'Victor', 74: 'Omar', 75: 'Steven', 76: 'Moses', 77: 'Shia', 78: 'Usher', 79: 'Nicolas', 80: 'Yechiel', 81: 'Shaya', 82: 'Wyatt', 83: 'Tristan', 84: 'Louis', 85: 'Yehoshua', 86: 'Sholom', 87: 'Yoel', 88: 'Rocco', 89: 'Xavier', 90: 'Yitzchak', 91: 'Shea', 92: 'Spencer', 93: 'Zalmen', 94: 'Yida', 95: 'Yousef', 96: 'Youssef', 97: 'Yonah'}

In [21]:
# Assign the names_2011 dictionary as the value to the 2011 key of boy_names
boy_names[2011] = names_2011

# Update the 2012 key in the boy_names dictionary
boy_names[2012].update([(1, 'Casey'), (2, 'Aiden')])

# Loop over the boy_names dictionary 
for year in boy_names:
    # Loop over and sort the data for each year by descending rank
    for rank in sorted(boy_names[year], reverse=True)[:1]:
        # Check that you have a rank
        if not rank:
            print(year, 'No Data Available')
        # Safely print the year and the least popular name or 'Not Available'
        print(year, boy_names[year].get(rank, 'Not Available'))

2012 Aiden
2013 Yitzchak
2014 Yidel
2011 Yonah

### Popping and deleting from dictionaries

In [22]:
boy_names[2011] = names_2011

# Remove 2011 and store it: boy_names_2011
boy_names_2011 = boy_names.pop(2011)

# Safely remove 2014 with an empty dictionary as the default: boy_names_2014
boy_names_2014 = boy_names.pop(2014, {})

# Delete 2012
del boy_names[2012]

# Print female_names
print(boy_names)

{2013: {1: 'David', 2: 'Joseph', 3: 'Michael', 4: 'Moshe', 5: 'Daniel', 6: 'Benjamin', 7: 'James', 8: 'Jacob', 9: 'Jack', 10: 'Alexander', 11: 'William', 12: 'John', 13: 'Henry', 14: 'Noah', 15: 'Samuel', 16: 'Nicholas', 17: 'Matthew', 18: 'Adam', 19: 'Chaim', 20: 'Abraham', 21: 'Liam', 22: 'Ryan', 23: 'Lucas', 24: 'Anthony', 25: 'Isaac', 26: 'Oliver', 27: 'Andrew', 28: 'Gabriel', 29: 'Yosef', 30: 'Leo', 31: 'Thomas', 32: 'Luke', 33: 'Jackson', 34: 'Shimon', 35: 'Theodore', 36: 'Joshua', 37: 'Christopher', 38: 'Sebastian', 39: 'Mason', 40: 'Eli', 41: 'Nathan', 42: 'Aaron', 43: 'Zachary', 44: 'Aron', 45: 'Luca', 46: 'Yehuda', 47: 'Yitzchok', 48: 'Owen', 49: 'Menachem', 50: 'Logan', 51: 'Aiden', 52: 'Yisroel', 53: 'Peter', 54: 'Yaakov', 55: 'Yakov', 56: 'Omar', 57: 'Levi', 58: 'Simon', 59: 'Shmuel', 60: 'Patrick', 61: 'Connor', 62: 'Jonah', 63: 'Zev', 64: 'Tzvi', 65: 'Nathaniel', 66: 'Harrison', 67: 'Tyler', 68: 'Mark', 69: 'Hunter', 70: 'Mohamed', 71: 'Lipa', 72: 'Mendel', 73: 'Sean', 74: 'Sam', 75: 'Solomon', 76: 'Martin', 77: 'Edward', 78: 'Wyatt', 79: 'Parker', 80: 'Steven', 81: 'Yechiel', 82: 'Nicolas', 83: 'Timothy', 84: 'Spencer', 85: 'Usher', 86: 'Rafael', 87: 'Yusuf', 88: 'Yehoshua', 89: 'Shaya', 90: 'Rayan', 91: 'Tristan', 92: 'Yossi', 93: 'Wesley', 94: 'Yoel', 95: 'Sawyer', 96: 'Yousef', 97: 'Walter', 98: 'Zalmen', 99: 'Yeshaya', 100: 'Yitzchak'}}

### Working with dictionaries more pythonically

In [0]:
boy_names = {2012: {}, 2014: {1: 'Joseph',  2: 'David',  3: 'Michael',  4: 'Moshe',  5: 'Jacob',  6: 'Benjamin',  7: 'Alexander',  8: 'Daniel',  9: 'Samuel',  10: 'Jack'}}

In [24]:
# Iterate over the 2014 nested dictionary
for rank, name in boy_names[2014].items():
    # Print rank and name
    print(rank, name)
    
# Iterate over the 2012 nested dictionary
for rank, name in boy_names[2012].items():
    # Print rank and name
    print(rank, name)

1 Joseph
2 David
3 Michael
4 Moshe
5 Jacob
6 Benjamin
7 Alexander
8 Daniel
9 Samuel
10 Jack

### Checking dictionaries for data more pythonically

In [0]:
baby_names = {2012: {}, 2013: {1: 'David',  2: 'Joseph',  3: 'Michael',  4: 'Moshe',  5: 'Daniel',  6: 'Benjamin',  7: 'James',  8: 'Jacob',  9: 'Jack',  10: 'Alexander'}, 2014: {1: 'Joseph',  2: 'David',  3: 'Michael',  4: 'Moshe',  5: 'Jacob',  6: 'Benjamin',  7: 'Alexander',  8: 'Daniel',  9: 'Samuel',  10: 'Jack'}}

In [26]:
# Check to see if 2011 is in baby_names
if 2011 in baby_names:
    # Print 'Found 2011'
    print('Found 2011')
    
# Check to see if rank 1 is in 2012
if 1 in baby_names[2012]:
    # Print 'Found Rank 1 in 2012' if found
    print('Found Rank 1 in 2012')
else:
    # Print 'Rank 1 missing from 2012' if not found
    print('Rank 1 missing from 2012')
    
# Check to see if Rank 5 is in 2013
if 5 in baby_names[2013]:
   # Print 'Found Rank 5'
   print('Found Rank 5')

Rank 1 missing from 2012
Found Rank 5

### Creating a dictionary from a file

In [27]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open('baby_names.csv', 'r')

reader = csv.reader(csvfile)

print(next(reader))

['BRITH_YEAR', 'GENDER', 'ETHNICTY', 'NAME', 'COUNT', 'RANK']

In [28]:
# Dictionary comprehension
baby_names = {row[5]:row[3]for row in reader}

# Print the dictionary keys
print(baby_names.keys())

dict_keys(['75', '67', '42', '51', '53', '62', '8', '74', '71', '78', '73', '72', '77', '60', '1', '70', '61', '65', '58', '41', '76', '68', '48', '55', '40', '66', '64', '34', '44', '57', '63', '33', '31', '20', '69', '35', '13', '52', '59', '39', '9', '27', '10', '56', '12', '2', '25', '18', '14', '38', '28', '6', '3', '19', '45', '47', '11', '79', '17', '43', '80', '37', '81', '46', '5', '22', '50', '21', '30', '24', '54', '15', '36', '23', '7', '16', '49', '29', '4', '32', '26', '92', '90', '82', '91', '88', '89', '94', '83', '93', '84', '87', '85', '86', '96', '97', '95', '99', '98', '100', '101', '102'])

## 3. Meet the collections module

### Using Counter on lists

In [0]:
stations = ['stationname', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Austin-Forest Park', 'Harlem-Lake', 'Harlem-Lake', 'Harlem-Lake', 'Harlem-Lake', 'Harlem-Lake', 'Harlem-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Pulaski-Lake', 'Quincy/Wells', 'Quincy/Wells', 'Quincy/Wells', 'Quincy/Wells', 'Quincy/Wells', 'Quincy/Wells', 'Davis', 'Davis', 'Davis', 'Davis', 'Davis', "Belmont-O'Hare", "Belmont-O'Hare", "Belmont-O'Hare", "Belmont-O'Hare",]

In [30]:
# Import the Counter object
from collections import Counter

# Create a Counter of the stations list: station_count
station_count = Counter(stations)

# Print the station_count
print(station_count)

Counter({'Pulaski-Lake': 8, 'Austin-Forest Park': 6, 'Harlem-Lake': 6, 'Quincy/Wells': 6, 'Davis': 5, "Belmont-O'Hare": 4, 'stationname': 1})

### Finding most common elements

In [31]:
# Find the 3 most common elements in the Counter of the stations list
print(station_count.most_common(3))

[('Pulaski-Lake', 8), ('Austin-Forest Park', 6), ('Harlem-Lake', 6)]

### Creating dictionaries of an unknown structure

In [0]:
entries = [('01/01/2015', 'Austin-Forest Park', '587'),  ('01/02/2015', 'Austin-Forest Park', '1386'), ('01/03/2015', 'Austin-Forest Park', '785'), ('01/26/2015', 'Harlem-Lake', '3673'), ('01/27/2015', 'Harlem-Lake', '3885'), ('01/28/2015', 'Harlem-Lake', '3944'), ('01/29/2015', 'Harlem-Lake', '3872'), ('01/30/2015', 'Harlem-Lake', '4010'), ('01/31/2015', 'Harlem-Lake', '2311'), ('01/01/2015', 'Pulaski-Lake', '811'), ('01/02/2015', 'Pulaski-Lake', '1529'), ('01/03/2015', 'Pulaski-Lake', '1096'), ('01/26/2015', 'Quincy/Wells', '7906'), ('01/27/2015', 'Quincy/Wells', '8278'), ('01/28/2015', 'Quincy/Wells', '8185'), ('01/29/2015', 'Quincy/Wells', '7916'), ('01/30/2015', 'Quincy/Wells', '7593'), ('01/31/2015', 'Quincy/Wells', '1390'), ('01/01/2015', 'Davis', '1400'), ('01/02/2015', 'Davis', '2997'), ('01/03/2015', 'Davis', '2079'), ('01/14/2015', 'Davis', '3761'), ('01/15/2015', 'Davis', '3870'), ('01/16/2015', 'Davis', '4150'), ('01/17/2015', 'Davis', '3024'), ('01/18/2015', 'Davis', '2099')]

In [33]:
# Create an empty dictionary: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append(riders)
    
# Print the ridership for '01/03/2015'
print(ridership['01/03/2015'])

# Print the first 5 items of the ridership dictionary
print(list(ridership.items())[:5])

['785', '1096', '2079']
[('01/01/2015', ['587', '811', '1400']), ('01/02/2015', ['1386', '1529', '2997']), ('01/03/2015', ['785', '1096', '2079']), ('01/26/2015', ['3673', '7906']), ('01/27/2015', ['3885', '8278'])]

### Safely appending to a key's value list with Defaultdict

In [34]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

# Iterate over the entries
for date, stop, riders in entries:
    # Use the date as the key of ridership and append the riders to its value
    ridership[date].append(int(riders))
    
# Print the first 10 items of the ridership dictionary
print(list(ridership.items())[:5])

[('01/01/2015', [587, 811, 1400]), ('01/02/2015', [1386, 1529, 2997]), ('01/03/2015', [785, 1096, 2079]), ('01/26/2015', [3673, 7906]), ('01/27/2015', [3885, 8278])]

### Working with OrderedDictionaries

In [35]:
# Import OrderedDict from collections
from collections import OrderedDict

# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()

# Iterate over the entries
for date, stop, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if not date in ridership_date:
        ridership_date[date] = 0
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += int(riders)
    
# Print the first 5 records
print(list(ridership_date.items())[:5])

[('01/01/2015', 2798), ('01/02/2015', 5912), ('01/03/2015', 3960), ('01/26/2015', 11579), ('01/27/2015', 12163)]

### Powerful Ordered popping

In [36]:
# Print the first key in ridership_date
print(list(ridership_date.keys())[0])

# Pop the first item from ridership_date and print it
print(ridership_date.popitem(last=False))

# Print the last key in ridership_date
print(list(ridership_date.keys())[-1])

# Pop the last item from ridership_date and print it
print(ridership_date.popitem())

01/01/2015
('01/01/2015', 2798)
01/18/2015
('01/18/2015', 2099)

### Creating namedtuples for storing data

In [37]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date, stop, riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

[DateDetails(date='01/01/2015', stop='Austin-Forest Park', riders='587'), DateDetails(date='01/02/2015', stop='Austin-Forest Park', riders='1386'), DateDetails(date='01/03/2015', stop='Austin-Forest Park', riders='785'), DateDetails(date='01/26/2015', stop='Harlem-Lake', riders='3673'), DateDetails(date='01/27/2015', stop='Harlem-Lake', riders='3885')]

### Leveraging attributes on namedtuples

In [38]:
# Iterate over the first twenty items in labeled_entries
for item in labeled_entries[:5]:
    # Print each item's stop
    print(item.stop)

    # Print each item's date
    print(item.date)

    # Print each item's riders
    print(item.riders)

Austin-Forest Park
01/01/2015
587
Austin-Forest Park
01/02/2015
1386
Austin-Forest Park
01/03/2015
785
Harlem-Lake
01/26/2015
3673
Harlem-Lake
01/27/2015
3885

## 2. Handling Dates and Times

### Strings to DateTimes

In [0]:
dates_list = ['02/19/2001', '04/10/2001', '05/30/2001', '07/19/2001', '09/07/2001', '10/27/2001', '12/16/2001', '02/04/2002', '03/26/2002', '05/15/2002', '07/04/2002', '08/23/2002', '10/12/2002', '12/01/2002', '01/20/2003', '03/11/2003', '04/30/2003', '06/19/2003', '08/08/2003', '09/27/2003', '11/16/2003', '01/05/2004', '02/24/2004', '04/14/2004', '06/03/2004', '07/23/2004', '09/11/2004', '10/31/2004', '12/20/2004', '02/08/2005', '03/30/2005', '05/19/2005', '07/08/2005', '08/27/2005', '10/16/2005', '12/05/2005', '01/24/2006', '03/15/2006', '05/04/2006', '06/23/2006', '08/12/2006', '10/01/2006', '11/20/2006', '01/09/2007','02/28/2007', '04/19/2007', '06/08/2007', '07/28/2007', '09/16/2007', '11/05/2007', '12/25/2007', '02/13/2008', '04/03/2008', '05/23/2008', '07/12/2008', '08/31/2008', '10/20/2008','12/09/2008', '01/28/2009', '03/19/2009', '05/08/2009', '06/27/2009', '08/16/2009', '10/05/2009', '11/24/2009', '01/13/2010', '03/04/2010', '04/23/2010', '06/12/2010', '08/01/2010', '09/20/2010', '11/09/2010', '12/29/2010', '02/17/2011', '04/08/2011', '05/28/2011', '07/17/2011', '09/05/2011', '10/24/2011', '11/12/2011', '01/01/2012', '02/20/2012', '04/10/2012', '05/30/2012', '07/19/2012', '09/07/2012', '10/27/2012', '12/16/2012', '02/04/2013', '03/26/2013', '05/15/2013', '07/04/2013', '08/23/2013', '10/12/2013', '12/01/2013', '01/20/2014', '03/11/2014', '04/30/2014', '06/19/2014', '08/08/2014', '09/27/2014', '11/16/2014', '07/05/2014', '01/24/2015', '03/15/2015', '05/04/2015', '06/23/2015', '08/12/2015', '10/01/2015', '11/20/2015', '01/09/2016', '02/28/2016', '04/18/2016', '06/07/2016', '07/27/2016', '09/15/2016', '11/04/2016']

In [40]:
# Import the datetime object from datetime
from datetime import datetime

datetimes_list = []

# Iterate over the dates_list 
for date in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(date, '%m/%d/%Y')
    datetimes_list.append(date_dt)
    # Print each date_dt

print(dates_list[-1], type(dates_list[-1]))
print(date_dt, type(date_dt))

11/04/2016 <class 'str'>
2016-11-04 00:00:00 <class 'datetime.datetime'>

### Converting to a String

In [41]:
# Loop over the first 10 items of the datetimes_list
for item in datetimes_list[:10]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(datetime.strftime(item, '%m/%d/%Y'))
    
    # Print out the record as an ISO standard string
    print(datetime.isoformat(item))

02/19/2001
2001-02-19T00:00:00
04/10/2001
2001-04-10T00:00:00
05/30/2001
2001-05-30T00:00:00
07/19/2001
2001-07-19T00:00:00
09/07/2001
2001-09-07T00:00:00
10/27/2001
2001-10-27T00:00:00
12/16/2001
2001-12-16T00:00:00
02/04/2002
2002-02-04T00:00:00
03/26/2002
2002-03-26T00:00:00
05/15/2002
2002-05-15T00:00:00

### Pieces of Time

In [0]:
daily_summaries = [('01/01/2001', 'U', '297192', '126455', '423647'), ('01/02/2001', 'W', '780827', '501952', '1282779'), ('01/03/2001', 'W', '824923', '536432', '1361355'), ('01/04/2001', 'W', '870021', '550011', '1420032'), ('01/05/2001', 'W', '890426', '557917', '1448343'), ('01/06/2001', 'A', '577401', '255356', '832757'), ('01/07/2001', 'U', '375831', '169825', '545656'), ('01/08/2001', 'W', '985221', '590706', '1575927'), ('01/09/2001', 'W', '978377', '599905', '1578282'), ('01/10/2001', 'W', '984884', '602052', '1586936'), ('01/11/2001', 'W', '995561', '607503', '1603064'), ('01/12/2001', 'W', '1018985', '605252', '1624237'), ('01/13/2001', 'A', '591791', '270056', '861847'), ('01/14/2001', 'U', '373091', '174842', '547933'), ('01/15/2001', 'W', '675845', '412149', '1087994'), ('01/16/2001', 'W', '1024367', '622163', '1646530'), ('01/17/2001', 'W', '1018690', '620343', '1639033'), ('01/18/2001', 'W', '1006996', '618832', '1625828'), ('01/19/2001', 'W', '909964', '583851', '1493815'), ('01/20/2001', 'A', '582348', '263815', '846163'), ('01/21/2001', 'U', '378381', '172107', '550488'), ('01/22/2001', 'W', '1005936', '598777', '1604713'), ('01/23/2001', 'W', '1019983', '610352', '1630335'), ('01/24/2001', 'W', '991661', '606835', '1598496'), ('01/25/2001', 'W', '1004257', '609877', '1614134'), ('01/26/2001', 'W', '965324', '597039', '1562363'), ('01/27/2001', 'A', '590836', '268078', '858914'), ('01/28/2001', 'U', '368819', '174434', '543253'), ('01/29/2001', 'W', '953532', '587052', '1540584'), ('01/30/2001', 'W', '982046', '607858', '1589904'), ('01/31/2001', 'W', '999392', '610508', '1609900')]

In [43]:
# Create a defaultdict of an integer: monthly_total_rides
monthly_total_rides = defaultdict(int)

# Loop over the list daily_summaries
for daily_summary in daily_summaries:
    # Convert the service_date to a datetime object
    service_datetime = datetime.strptime(daily_summary[0], '%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(daily_summary[4])
    
# Print monthly_total_rides
print(monthly_total_rides)

defaultdict(<class 'int'>, {1: 39735242})

### Creating DateTime Objects... Now

In [44]:
# Import datetime from the datetime module
from datetime import datetime

# Compute the local datetime: local_dt
local_dt = datetime.now()

# Print the local datetime
print(local_dt)

# Compute the UTC datetime: utc_dt
utc_dt = datetime.utcnow()

# Print the UTC datetime
print(utc_dt)

2018-09-04 15:59:13.030063
2018-09-04 15:59:13.032068

### Timezones

In [45]:
from pytz import timezone

# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Central')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

# Iterate over the daily_summaries list
for row in daily_summaries[:10]:
    orig_dt = datetime.strptime(row[0], '%m/%d/%Y')
    ridership = row[4]
    
    # Make the orig_dt timezone "aware" for Chicago
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    
    # Convert chicago_dt to the New York Timezone
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    # Print the chicago_dt, ny_dt, and ridership
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

Chicago: 2001-01-01 00:00:00-05:51, NY: 2001-01-01 00:51:00-05:00, Ridership: 423647
Chicago: 2001-01-02 00:00:00-05:51, NY: 2001-01-02 00:51:00-05:00, Ridership: 1282779
Chicago: 2001-01-03 00:00:00-05:51, NY: 2001-01-03 00:51:00-05:00, Ridership: 1361355
Chicago: 2001-01-04 00:00:00-05:51, NY: 2001-01-04 00:51:00-05:00, Ridership: 1420032
Chicago: 2001-01-05 00:00:00-05:51, NY: 2001-01-05 00:51:00-05:00, Ridership: 1448343
Chicago: 2001-01-06 00:00:00-05:51, NY: 2001-01-06 00:51:00-05:00, Ridership: 832757
Chicago: 2001-01-07 00:00:00-05:51, NY: 2001-01-07 00:51:00-05:00, Ridership: 545656
Chicago: 2001-01-08 00:00:00-05:51, NY: 2001-01-08 00:51:00-05:00, Ridership: 1575927
Chicago: 2001-01-09 00:00:00-05:51, NY: 2001-01-09 00:51:00-05:00, Ridership: 1578282
Chicago: 2001-01-10 00:00:00-05:51, NY: 2001-01-10 00:51:00-05:00, Ridership: 1586936

### Localizing time with pendulum

In [48]:
!pip install pendulum

Collecting pendulum
  Downloading https://files.pythonhosted.org/packages/b0/2b/1699eb626ce9bb79dcf710349b0eb45318cd38ad1c1dda3c95802fa0570f/pendulum-2.0.3-cp36-cp36m-manylinux1_x86_64.whl (139kB)
    100% |████████████████████████████████| 143kB 6.4MB/s
Collecting pytzdata>=2018.3 (from pendulum)
  Downloading https://files.pythonhosted.org/packages/2b/b8/a007eedc118838b27247da7c31f25c2b9e68e68ed2ffafed3d340d379e84/pytzdata-2018.5-py2.py3-none-any.whl (981kB)
    100% |████████████████████████████████| 983kB 8.8MB/s
Collecting python-dateutil<3.0,>=2.6 (from pendulum)
  Downloading https://files.pythonhosted.org/packages/cf/f5/af2b09c957ace60dcfac112b669c45c8c97e32f94aa8b56da4c6d1682825/python_dateutil-2.7.3-py2.py3-none-any.whl (211kB)
    100% |████████████████████████████████| 215kB 12.0MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0,>=2.6->pendulum) (1.11.0)
Installing collected packages: pytzdata, python-dateutil, pendulum
  Found existing installation: python-dateutil 2.5.3
    Uninstalling python-dateutil-2.5.3:
      Successfully uninstalled python-dateutil-2.5.3
Successfully installed pendulum-2.0.3 python-dateutil-2.7.3 pytzdata-2018.5

In [49]:
# Import the pendulum module
import pendulum

# Create a now datetime for Tokyo: tokyo_dt
tokyo_dt = pendulum.now('Asia/Tokyo')

# Covert the tokyo_dt to Los Angeles: la_dt
la_dt = tokyo_dt.in_timezone('America/Los_Angeles')

# Print the ISO 8601 string of la_dt
print(la_dt.to_iso8601_string())

2018-09-04T09:01:27.311031-07:00